@import "../core/ui/style/_media-queries.scss";

.welcome-page {
  display: flex;

  margin-top: 200px;
}

.welcome-page__link-container {
  display: flex;
  gap: 16px;
}

.pikachu-image {
  width: 200px;

  margin-left: auto;
}

@include for-small-screens() {
  .welcome-page {
    flex-direction: column;

    margin-top: 40px;
  }

  .pikachu-image {
    margin-top: 40px;
  }
}
